.date-picker-input {
  background-color: rgb(248, 249, 250);
  width: 15rem;
}

.count-adult-input {
  background-color: rgb(248, 249, 250);
}

.submit {
  max-width: max-content;
}

.menu-counter li {
  display: flex;
  margin: 0 10px 5px 10px;
  gap: 10px;
  justify-content: flex-end;
}

.option-counter-container {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.optionCounterButton {
  border-radius: 3px;
  border: 1px solid;
  width: 20px;
}
