.edit-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 36px;

  color: #192252;
}

label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #0e1734;
}
