.card-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 150%;
  color: #000000;
  display: flex;
}

.card {
  border: none;
}

.card-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  display: flex;
  color: #424f7b;
}

.card-rating {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  display: flex;
}

.category-sort {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #000000;
  display: flex;
}
/* .card-link a,
a:visited,
a:hover,
a:link {
  color: #424f7b;
} */

.filters_img {
  width: 500px;
  height: 650px;
  overflow: hidden;
  margin: 10px;
}

.filters_img img {
  width: initial;
  height: 100%;
}
